.title {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  background-color: #0dcaf0;
  color: #fff;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
}

.btn-sp {
  color: #fff;
  text-transform: uppercase;
}
