<div class="container" style="text-align:center">
  <h1 class="title">
    Mettez votre adresse
  </h1>
  <form >
    <div class="form-floating mb-3">
      <input class="form-control" name="address" type="text" id="address" #address>
      <label class="form-label" for="address">Adresse</label>
    </div>
    <button type="button" class="btn btn-info btn-lg btn-sp" (click)="getAddress(address.value)">Valider</button>
  </form>
  <app-results [data]=data></app-results>
 </div>

