 <!-- Affichage des résultats -->
 <div *ngIf="data.features">
  <div class="container container-sp">
    <div class="d-sm-flex justify-content-between">
      <div class="col-sm-6 me-sm-4">
        <div  *ngFor="let address of data.features">
          <h3 class="addressValue btn btn-outline-primary" (click)="sendCoord(address.geometry.coordinates[0], address.geometry.coordinates[1])">
          {{address.properties.label}}
          </h3>
          <!-- Affichage Map -->
        </div>
      </div>
        <app-map class="col-sm-6" [longitude]=longitude [latitude]= latitude></app-map>
    </div>
  </div>
</div>
