.map-container {
  position: relative;
  margin: 30px;
  height: 400px;
  width: 100%;
  margin: 1rem 0 1rem 0;
  padding: 0;

}

@media only screen and (min-width: 600px) {
  .map-container {
  width: 97%;
  }
}

.map-frame {
  border: 2px solid #0dcaf0;
  height: 100%;
  border-radius: 5px;
}

#map {
  height: 100%
}
